{% load widget_tweaks %}
<div class="container-fluid">
	<div class="row">
		<label class="text-muted">spends</label>
		<div class="col-md-12">
			<div class="form-group">
				{{ form.payment_method.label_tag }}
				{% render_field form.payment_method class="form-control" %}
				{{ form.description.label_tag }}
				{% render_field form.description class="form-control" placeholder="Enter Description" %}
				{{ form.amount.label_tag }}
				{% render_field form.amount class="form-control" placeholder="Enter amount" %}
				{{ form.share.label_tag }}
				{% render_field form.share class="form-control"  placeholder="you + otheres" %}
				<label>Date:</label>
				{% render_field form.expense_time class="form-control" %}
				{{ form.category.label_tag }}
				{% render_field form.category class='form-control' %}
				<!-- {{ form.expense_time }} -->
			</div>
		</div>
	</div>
</div>