<div class="container-fluid">
	<div class="row">
		<div class="col-md-2">
			<h1>Grand Total</h1>
			<i class="fa fa-inr" style="font-size:48px;color:red">{{ total }}</i>
		</div>
		<div class="col-md-10" align="center">
			<form method="post">
				<h3 >Track</h3>
				<span><label for="from-date">from</label>
					<input type="date" name="from-date" id="from-date" style="color: black">
				</span>
				<label>to</label>
				<input type="date" name="from-date" id="from-date" style="color: black">
			</form>
		</div>
	</div>
</div>